/* Application-wide Styles */

// @font-face {
//   font-family: 'Montserrat-Thin';
//   src:url('assets/fonts/Montserrat-Thin.ttf.woff') format('woff'),
//       url('assets/fonts/Montserrat-Thin.ttf.svg#Montserrat-Thin') format('svg'),
//       url('assets/fonts/Montserrat-Thin.ttf.eot'),
//       url('assets/fonts/Montserrat-Thin.ttf.eot?#iefix') format('embedded-opentype'); 
//   font-weight: normal;
//   font-style: normal;
// }

$primary: #162e52;
// $secondary: #D5EDF8;
$secondary: #D5EDF8;
$tertiary: #EAF5D9; //65B4E2;
$info: #D3D4D5;
$danger: pink;

//$--bs-accordion-active-bg: #213457;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

html, body {
height: 100%;
padding: 0;
margin: 0;
font-size: 14px;
color: $primary
}

.navbar-light{
  background-color: #fff;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #213457;
  font-weight: 400;
  font-size: 1.2em;
  color: #213457;

  -webkit-font-smoothing: antialiased;
}

.navbar-brand{
  padding-left: 30px;
  padding-right: 20px;
}

.orderprijs{
  font-weight: bold;
  padding-top: 1rem;
}

.pakketprijs{
  font-style: italic;
}

.input_select_meetpakket{
  width: 12rem;
  margin: 0;
}

// .input_select_alternatie{
//   width: 9rem;
//   margin: 0;
// }



.order_input_num_metingen{
  width: 5rem;
}

.order_input_buttons{
  min-width: 7rem;
}

.order_valuta{
  width: 5rem;
}

.order_stukprijs{
  width: 5rem;
}

.order_orderprijs{
  width: 5rem;
}

.order_toelichting{
  width: 5rem;
}

.readonly{
  font-style: italic;
}

.selectable{
  cursor: pointer;
}

.usermessages{
  position: fixed;
  top: 30;
  right: 10px;
  width: 300px;
  // border: 3px solid #73AD21;
}

.btn-secondary {
  --bs-btn-color: $primary;

  // --bs-btn-border-color: #47828A;
  // --bs-btn-hover-color: #000;
  // --bs-btn-hover-bg: #63959c;
  // --bs-btn-hover-border-color: #598f96;
  // --bs-btn-focus-shadow-rgb: 60, 111, 117;
  // --bs-btn-active-color: #000;
  // --bs-btn-active-bg: #6c9ba1;
  // --bs-btn-active-border-color: #598f96;
  // --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  // --bs-btn-disabled-color: #000;
  // --bs-btn-disabled-bg: #47828A;
  // --bs-btn-disabled-border-color: #47828A;
}

.accordion-button:not(.collapsed) {
  background-color: #D5EDF8;
}

.nav-link{
  color: #213457;

}

